@import url(custom.less);

.overlay_bg_fade{
	background-color: fade( #000, 40%);
}
.overlay_bg_fade_01{
	background-color: fade( #000, 77%);
}
.height_fixed{
	.common_height{
		height: 135px;
		width: calc(100% - 30px);
		z-index: 1;

		@media (max-width: 1024px){
			height: 100px;
			padding:15px;
		}
		@media (max-width: 1024px){
			height: 90px;
			padding:5px;

		}


	}
	.color_secondory{
		transition:.3s all ease-in-out;
	}
	&:hover{
		.color_secondory {
			color: #000;
		}
	}
}
.overlay{
	position: absolute;
	z-index: 0;
	background-color: fade(@secondary_clr, 80%);
	
}
.gd_border_clr_02{
	border-color:#EBEBEB;
}
.gd_border_clr_03{
	border-color:#F9F9F9;
}
.common_line_btm{
	position: relative;
	&:after{
		content: '';
		position: absolute;
		width: 204px;
		height:8px;
		background-color: @secondary_clr;
		bottom:-4px;
		left: 0;
		right: 0;
		margin:auto;
	}
}

.common_line_btm_01{
	position: relative;
	&:after{
		content: '';
		position: absolute;
		width: 100%;
		max-width: 680px;
		height:8px;
		background-color: @secondary_clr;
		bottom:-4px;
		left: 0;
		right: 0;
		margin:auto;
	}
}
.clr_red{
	color: #F94147;
}
.bg_color_fade_02{
	background-color: fade(#fff, 64%);
}
.txt_clr_gray_03{
	color:#565656;
}
.megamenu_inner{
	.secondary_clr_hover{
		border-bottom: 	1px solid #EFEFEF;
		&:hover{
			color: #000;
			border-bottom: 	1px solid @secondary_clr;
		}
	}
}










.widget_2{
	.description_1{
		text-align:center;

	}
}
