@font-face {
  font-family: 'oswaldheavy';
  src: url('../fonts/oswald/oswald-heavy-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-heavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'oswald_stencilbold';
  src: url('../fonts/oswald/oswald-stencil-webfont.woff2') format('woff2'), url('../fonts/oswald/oswald-stencil-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-59U.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meKCM.ttf) format('truetype');
}
.primary_font {
  font-family: "Roboto", san-serif;
}
.secondary_font {
  font-family: 'oswald_stencilbold';
}
.third_font {
  font-family: 'oswaldheavy';
}
.forth_font {
  font-family: 'Roboto Condensed', sans-serif;
}
.clr_dark_fade {
  color: rgba(0, 0, 0, 0.05) !important;
}
.bg_clr_white {
  background-color: #fff;
}
.bg_clr_dark_02 {
  background-color: #000;
}
.bg_color_02 {
  background-color: #404040;
}
.color_secondory {
  color: #fff100;
}
.text_color_new {
  color: #545454;
}
.text_color_new1 {
  color: #E4E4E4;
}
.bg_clr_light_01 {
  background-color: #707070;
}
.primary_bg_clr {
  background-color: #fff100;
}
.primary_bg_clr_1 {
  background-color: #1E1E1E;
}
.primary_bg_clr_light {
  background-color: rgba(255, 241, 0, 0.85);
}
.secondary_bg_clr {
  background-color: #fff100;
}
.secondary_bg_clr_light {
  background-color: rgba(0, 0, 0, 0.85);
}
.secondary_bg_clr_light1 {
  background-color: #FFE052;
}
.secondary_bg_clr_light2 {
  background-color: rgba(255, 241, 0, 0.7);
}
.bg_clr_white_fade {
  background-color: #F2F2F2;
}
.bg_clr_black_fade {
  background-color: rgba(0, 0, 0, 0.5);
}
.bg_clr_black_fade1 {
  background-color: #D8D8D8;
}
.primary_clr {
  color: #09969E;
}
.secondary_clr {
  color: #fff100;
}
.text_clr_0 {
  color: #000;
}
.text_clr_1 {
  color: #141414;
}
.text_clr_2 {
  color: #242424;
}
.text_clr_3 {
  color: #343434;
}
.text_clr_4 {
  color: #444444;
}
.text_clr_5 {
  color: #545454;
}
.text_clr_6 {
  color: #646464;
}
.text_clr_7 {
  color: #747474;
}
.text_clr_8 {
  color: #848494;
}
.text_clr_9 {
  color: #949494;
}
.text_clr_10 {
  color: #AEAEAE;
}
.text_clr_11 {
  color: #BFBFBF;
}
.text_clr_12 {
  color: #D8D8D8;
}
.transition {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.gl_link_fullwidth {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.display_flex {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.display_flex_align_center {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
}
.display_flex_align_start {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: start;
  align-items: flex-start;
}
.display_flex_align_end {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: end;
  align-items: flex-end;
}
.display_flex_justify_center {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}
.display_flex_justify_start {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.display_flex_justify_end {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.display_flex_center {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.primary_bg_hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.primary_bg_hover:hover {
  background-color: #000;
  color: #fff100;
}
.secondary_bg_hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.secondary_bg_hover:hover {
  background-color: #fff100;
  color: #000;
}
.secondary_bg_clr_light_hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.secondary_bg_clr_light_hover:hover {
  background-color: rgba(255, 241, 0, 0.65);
}
.primary_clr_hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.primary_clr_hover:hover {
  color: #000;
}
.secondary_clr_hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.secondary_clr_hover:hover {
  color: #fff100;
}
.custom_border_r_line {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.custom_border_r_line:nth-child(3n) {
  border-right: 0;
}
.custom_border_b_line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.hangburger {
  width: auto;
  float: left;
  min-width: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.hangburger_line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: #000;
  position: relative;
  margin-bottom: 2px;
}
.hangburger_line:last-child {
  margin-bottom: 0;
}
.dark_bg {
  background-color: #363737;
}
.dark_bg1 {
  background-color: #575757;
}
.copyright_bg {
  background-color: #4D4D4D;
}
.width_max_content {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.hover_img_effect {
  overflow: hidden;
}
.hover_img_effect .hover_img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hover_img_effect:hover .hover_img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.cutom_link_shape {
  border-radius: 10px 10px 10px 0;
}
.custom_shape_position {
  left: 75px !important;
  right: auto !important;
}
.custom_service_req_para_scroll {
  min-height: 35px;
  max-height: 35px;
}
@media (max-width: 1024px) {
  .custom_service_req_para_scroll {
    min-height: 45px;
    max-height: 45px;
  }
}
@media (max-width: 768px) {
  .custom_service_req_para_scroll {
    min-height: 50px;
    max-height: 50px;
  }
}
.megamenu_cloning {
  width: 100%;
  float: left;
  margin-right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  display: block;
  z-index: 1;
}
.megamenu_cloning li {
  width: 100%;
  float: left;
  margin-right: 0;
  padding: 20px 15px;
  border-bottom: 1px solid #f2f2f2;
}
.megamenu_cloning li .hambergur_icon {
  display: block;
}
.logo_wrpr_hamb {
  width: 100%;
  float: left;
  padding: 25px 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.06);
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: #fbfbfb;
  margin-right: 0;
  z-index: 1;
}
[data-hangburger="wrapper"] {
  max-width: 25vw;
  left: -25vw;
}
@media (max-width: 1024px) {
  [data-hangburger="wrapper"] {
    max-width: 35vw;
    left: -35vw;
  }
}
@media (max-width: 768px) {
  [data-hangburger="wrapper"] {
    max-width: 50vw;
    left: -50vw;
  }
}
@media (max-width: 576px) {
  [data-hangburger="wrapper"] {
    max-width: 85vw;
    width: 85vw;
    left: -85vw;
  }
}
[data-hangburger="wrapper"] .mCSB_container {
  margin-right: 0;
}
[data-hangburger="wrapper"] .tool_call {
  width: 100%;
  float: left;
  margin-right: 0;
  display: block;
  z-index: 1;
}
.tool_call .quick_call {
  width: 100%;
  float: left;
  margin-right: 0;
  padding: 20px 15px;
  -webkit-box-pack: start;
  background-color: #f2f2f2;
  -webkit-box-align: center;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}
.tool_call .quick_call .custom_border_rad_50 {
  border: none;
  font-size: 18px;
}
.tool_call .quick_call .gd_icon {
  color: #000;
}
.tool_call .quick_call .gd_icon {
  font-size: 14px;
}
.tool_call .quick_call .gd_h_wrpr {
  width: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.tool_call .quick_call .gd_h_wrpr .gd_h_sub {
  margin-left: 5px;
  margin-bottom: 0;
}
.hamb_blog {
  width: 100%;
  float: left;
  padding: 20px 15px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  background: #fff;
  color: #545454 !important;
  font-size: 13px;
  font-weight: 700;
}
[data-hangburger=wrapper] .secondary_bg_hover:hover {
  background: #fff;
  color: #545454 !important;
}
.megamenu_inner {
  top: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  max-width: 20vw;
}
.megamenu_trigger:hover .megamenu_inner {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
[data-hangburger="wrapper"] .megamenu_inner {
  position: relative;
  width: 100%;
  float: left;
  max-width: 100%;
  box-shadow: none;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  padding-top: 20px;
  display: none;
}
[data-hangburger="wrapper"] .megamenu_trigger.active .megamenu_inner {
  display: block;
}
[data-hangburger="wrapper"] .megamenu_inner ul {
  box-shadow: none;
}
[data-hangburger="wrapper"] .megamenu_inner ul li {
  padding: 0px;
}
[data-hangburger="wrapper"] .megamenu_inner ul li:last-child {
  border: none;
}
.megamenu_trigger.active .megamenu_inner {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.megamenu_cloning .menu_title_wrpr {
  width: 100%;
  float: left;
}
.meagamenu_head {
  -webkit-box-flex: 1;
  flex: 1 0;
}
[data-hangburger="wrapper"] .leftnav_drop_click {
  min-width: 30px;
  text-align: left;
  -webkit-box-pack: start;
  justify-content: flex-start;
  z-index: 10;
  min-height: 18px;
}
.footer_logo svg {
  min-width: 215px;
  min-height: 38px;
}
@media (max-width: 576px) {
  .footer_logo svg {
    min-width: auto;
    min-height: auto;
  }
}
.footer_logo svg path {
  fill: rgba(255, 255, 255, 0.4);
}
.flex_tip {
  -webkit-box-flex: 1;
  flex: 1 0;
}
.bg_font_text {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 300px;
  line-height: 300px;
}
@media (max-width: 1200px) {
  .bg_font_text {
    font-size: 250px;
    line-height: 250px;
  }
}
@media (max-width: 1024px) {
  .bg_font_text {
    font-size: 200px;
    line-height: 200px;
  }
}
@media (max-width: 768px) {
  .bg_font_text {
    font-size: 150px;
    line-height: 150px;
  }
}
.bg_font_text1 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 200px;
  line-height: 200px;
}
@media (max-width: 1200px) {
  .bg_font_text1 {
    font-size: 180px;
    line-height: 180px;
  }
}
@media (max-width: 1024px) {
  .bg_font_text1 {
    font-size: 150px;
    line-height: 150px;
  }
}
@media (max-width: 768px) {
  .bg_font_text1 {
    font-size: 135px;
    line-height: 135px;
  }
}
.text_clr_7_light {
  color: rgba(116, 116, 116, 0.5);
}
.text_clr_white_light {
  color: rgba(255, 255, 255, 0.07);
}
.primary_border_clr {
  border-color: #09969E;
}
.secondary_border_clr {
  border-color: #fff100;
}
.border_clr_ash1 {
  border-color: #BFBFBF;
}
.border_clr_ash2 {
  border-color: #E2E2E2;
}
.border_clr_dark {
  border-color: #5E5E5E;
}
.border_clr_white_off {
  border-color: rgba(0, 0, 0, 0.3);
}
.common_split_3 {
  width: calc(33.33% - 20px);
  margin-right: 30px;
}
.common_split_3:nth-child(3n) {
  margin-right: 0;
}
.box_hover_effect {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.box_hover_effect::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 0;
  background-color: #fff100;
  right: -2px;
  bottom: -2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;
}
.box_hover_effect::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 0;
  background-color: #fff100;
  right: -2px;
  bottom: -2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;
}
.box_hover_effect:hover {
  border-color: #fff100;
}
.box_hover_effect:hover::before {
  height: 98px;
  max-height: 50%;
}
.box_hover_effect:hover::after {
  width: 125px;
  max-width: 50%;
}
.box_hover_effect.active::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 98px;
  max-height: 50%;
  background-color: #fff100;
  right: -2px;
  bottom: -2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.box_hover_effect.active::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 125px;
  max-width: 50%;
  background-color: #fff100;
  right: -2px;
  bottom: -2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.dot_shape {
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.flex_wrapr_none {
  flex-wrap: unset;
}
.custom_img_circle_shape {
  width: 123px;
  height: 123px;
  float: left;
  overflow: hidden;
}
.rellax_action {
  pointer-events: none;
  z-index: 0;
}
.hambergur_social {
  float: left;
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #1E1E1E;
  z-index: 100;
  width: 25vw;
  max-width: 25vw;
  left: -25vw;
}
@media (max-width: 1024px) {
  .hambergur_social {
    width: 35vw;
    max-width: 35vw;
    left: -35vw;
  }
}
@media (max-width: 768px) {
  .hambergur_social {
    width: 50vw;
    max-width: 50vw;
    left: -50vw;
  }
}
@media (max-width: 576px) {
  .hambergur_social {
    max-width: 85vw;
    width: 85vw;
    left: -85vw;
  }
}
.hambergur_social a {
  background-color: transparent !important;
}
[data-hangburger="wrapper"].active .hambergur_social {
  left: 0;
}
.hambergur_social .gd_listitem {
  margin: 0;
  margin-bottom: 0;
}
.hambergur_social .gd_icon_block {
  background-color: none;
}
.header_fixing {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 55;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  top: 148px;
  -webkit-transform: translateY(-148px);
  transform: translateY(-148px);
}
.header_fixing.scroll_down {
  top: 0px;
  -webkit-transform: translateY(-148px);
  transform: translateY(-148px);
}
@media (max-width: 1024px) {
  .header_fixing.scroll_down {
    top: 0px;
    -webkit-transform: unset;
    transform: unset;
  }
}
.header_fixing.scroll_up {
  top: 148px;
}
@media (max-width: 1024px) {
  .header_fixing.scroll_up {
    top: 0px;
    -webkit-transform: unset;
    transform: unset;
  }
}
@media (max-width: 1024px) {
  .header_fixing {
    top: 0px;
    -webkit-transform: unset;
    transform: unset;
  }
}
.gray_scale_hover img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.gray_scale_hover:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.primary_hover_txt_clr .hover_txt_block {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.primary_hover_txt_clr:hover .hover_txt_block {
  color: #09969E;
}
.custom_height_provide_img {
  min-height: 300px;
}
.primary_txt_hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.primary_txt_hover:hover {
  color: #09969E;
}
.secondary_txt_hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.secondary_txt_hover:hover {
  color: #fff100;
}
.txt_clr_7_hover .txt_hover_clr_7 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.txt_clr_7_hover:hover .txt_hover_clr_7 {
  color: #747474;
}
.error {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  float: right;
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  color: #ff0000;
  font-size: 12px;
  line-height: 12px;
  font-family: "Roboto", san-serif;
}
.custom_sub_hambergur {
  width: 50px;
  float: left;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 35px 0 0 35px;
  font-size: 12px;
  position: absolute;
  left: auto;
  right: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 55;
  background-color: #09969E;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 576px) {
  .custom_sub_hambergur {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 25px 0 0 25px;
  }
}
.custom_sub_hambergur_overlay {
  width: 100%;
  float: left;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  pointer-events: none;
  position: fixed;
  z-index: 1;
}
.custom_sub_hambergur_wrpr {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.custom_sub_hambergur_wrpr .custom_sub_hambergur span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.custom_sub_hambergur_wrpr.active {
  right: 0;
}
.custom_sub_hambergur_wrpr.active .custom_sub_hambergur_overlay {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.custom_sub_hambergur_wrpr.active .custom_sub_hambergur span {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  width: auto;
  float: none;
  display: table;
  margin: auto;
}
@media (max-width: 1024px) {
  .custom_sub_hambergur_wrpr {
    width: 50%;
    max-width: 50%;
    right: -50%;
  }
}
@media (max-width: 768px) {
  .custom_sub_hambergur_wrpr {
    width: 60%;
    max-width: 60%;
    right: -60%;
  }
}
@media (max-width: 576px) {
  .custom_sub_hambergur_wrpr {
    width: 85%;
    max-width: 85%;
    right: -85%;
  }
}
.collapse_open span {
  width: auto;
  float: left;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.gd_collapse.active .collapse_open span {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.custom_dots_color {
  background-color: #fff !important;
  border-color: #707070;
}
.custom_dots_color.active {
  background-color: #D44343 !important;
  border-color: #D44343;
}
/* detail page */
.prodcut_wrpr {
  width: 100%;
  float: left;
  /* flex-wrap: wrap; */
  /* display: -webkit-box; */
  /* display: flex; */
  /* -webkit-box-align: center; */
  /* align-items: center; */
  /* -webkit-box-pack: center; */
  /* justify-content: center; */
  position: relative;
}
.product_detail_img {
  width: 100%;
  float: left;
}
.zoom_carousel_popup .product_detail_img {
  width: auto;
  float: none;
  height: 80vh;
}
.detail_product_wrpr {
  margin-bottom: 20px;
}
.detail_product_wrpr_thumb {
  padding: 0px 10%;
  position: relative;
  display: -webkit-box;
  display: flex !important;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .detail_product_wrpr_thumb {
    padding: 0px 30%;
  }
}
@media (max-width: 576px) {
  .detail_product_wrpr_thumb {
    padding: 0px 20%;
  }
}
.detail_product_wrpr_thumb img {
  width: 100%;
  float: left;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.detail_product_wrpr_thumb .product_detail_img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  min-height: 100%;
  max-height: 100%;
}
.detail_zoom_carousel_thumb .product_detail_img {
  width: 100%;
  height: 100%;
}
.detail_zoom_carousel_thumb .product_detail_img img {
  width: 100%;
  float: left;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.detail_product_wrpr_thumb .item {
  padding: 0 2%;
}
.detail_product_wrpr_thumb .owl-nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  float: left;
  margin: auto;
  bottom: 0;
}
.detail_product_wrpr_thumb .owl-prev:focus,
.detail_product_wrpr_thumb .owl-next:focus {
  outline: none;
}
.detail_product_wrpr_thumb .owl-prev:hover,
.detail_product_wrpr_thumb .owl-next:hover {
  background-color: transparent !important;
  color: #5A5A5A !important;
}
.detail_product_wrpr_thumb .owl-prev,
.detail_product_wrpr_thumb .owl-next {
  border-radius: 50% !important;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 10px;
  color: #5A5A5A !important;
  pointer-events: auto;
  font-size: 12px;
  right: 0;
  font-size: 22px !important;
  top: 0;
  bottom: 0;
  margin: auto !important;
  position: absolute;
}
.detail_product_wrpr_thumb .owl-prev {
  left: 0;
  right: auto;
}
.detail_zoom_popup {
  overflow: hidden;
}
.disabled .prev,
.disabled .next {
  display: none;
}
.detail_product_wrpr_thumb .prodcut_wrpr {
  border: 1px solid #DCDCDC;
}
.detail_product_wrpr_thumb .zoom_active .prodcut_wrpr {
  border-color: #F94147;
}
.zoom_carousel_popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: #fff;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.zoom_carousel_popup.active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.detail_zoom_carousel_close {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 35px;
  right: 35px;
  border-radius: 50%;
  color: #f94147;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-shadow: 0 0 6px 1px rgba(38, 139, 220, 0.43);
  z-index: 55;
  cursor: pointer;
}
.detail_zoom_carousel {
  width: 100%;
  height: 100%;
  padding: 50px;
}
@media (max-width: 1024px) {
  .detail_zoom_carousel {
    padding: 15px;
  }
}
.detail_zoom_carousel_thumb {
  position: absolute;
  width: 100%;
  bottom: 5%;
  left: 0;
  right: 0;
  display: -webkit-box !important;
  display: flex !important;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px 30%;
}
@media (max-width: 576px) {
  .detail_zoom_carousel_thumb {
    padding: 0 10%;
  }
}
.detail_zoom_carousel_thumb .prodcut_wrpr {
  border: 1px solid #DCDCDC;
  background-color: #fff;
}
.detail_zoom_carousel_thumb .zoom_active .prodcut_wrpr {
  border-color: #F94147;
}
.detail_zoom_carousel .owl-nav {
  width: 100%;
  position: absolute;
  height: 90vh;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 50px;
  pointer-events: none;
}
.detail_zoom_carousel .owl-prev,
.detail_zoom_carousel .owl-next {
  width: 35px;
  height: 45px;
  color: #f94147;
  pointer-events: auto;
  text-align: center;
  line-height: 45px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.72941176) !important;
  border: 1px solid #d7d7d7 !important;
}
.detail_zoom_carousel .owl-prev.disabled,
.detail_zoom_carousel .owl-next.disabled {
  display: none;
}
.detail_zoom_carousel .owl-next {
  margin-left: auto;
}
.detail_zoom_carousel.owl-carousel .owl-item img {
  width: 100%;
  max-height: calc(100vh - 60px);
  max-width: calc(100vw - 100px);
  width: auto;
  margin: auto;
  top: 0;
  bottom: 0;
  position: absolute;
  left: 0px;
  right: 0px;
}
.custom_img_circle_shape1 {
  width: 85px;
  height: 85px;
  float: left;
  overflow: hidden;
}
.custom_start_rating {
  color: #CFAD00;
  position: relative;
  left: -10px;
}
.custom_m_l_for_customer {
  margin-left: 110px;
}
@media (max-width: 576px) {
  .custom_m_l_for_customer {
    margin-left: auto;
  }
}
.product_detail_category {
  height: 100%;
}
.float_label_error_bottom .error {
  top: auto;
  bottom: -15px;
  position: absolute;
  width: auto;
  float: left;
  left: auto;
  right: 5px;
  text-align: right;
}
@media (max-width: 992px) {
  .float_label_error_bottom .error {
    bottom: -15px;
  }
}
.detail_subhead.active {
  position: fixed;
  left: 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.11);
  background-color: #fff;
  z-index: 52;
}
.detail_table_full_wraper {
  width: 100%;
  float: left;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.detail_title_wrpr {
  width: 130px;
  float: left;
  border: 1px solid rgba(9, 150, 158, 0.35);
  display: none;
}
.detail_table_cover {
  width: 100%;
  float: left;
}
.detail_table_full_wraper.resp .detail_title_wrpr {
  display: block;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.detail_title_wrpr .detail_table_title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #09969E;
  color: #fff;
}
.detail_title_wrpr .detail_table_title:last-child {
  border-bottom: 0px solid #FFC1B1;
}
.detail_table_full_wraper.resp .detail_table_cover {
  width: calc(100% - 130px);
  max-width: calc(100% - 130px);
  float: left;
  -webkit-box-flex: 1;
  flex: 1 0;
  /* -webkit-box-flex: 1;
    -ms-flex           : 1 0;
    flex               : 1 0; */
}
.detail_table_full_wraper.resp .detail_table_cover .mCSB_container {
  margin-bottom: 0;
}
.detail_table_full_wraper.resp .detail_table_wraper {
  margin-bottom: 0 !important;
  border-left: 0;
  width: auto;
  min-width: 100%;
}
.detail_table_full_wraper.resp .detail_table_wraper .detail_table_col {
  border-top: none;
}
.detail_table_full_wraper.resp .detail_table_wraper .detail_table_col:last-child {
  border-bottom: none;
}
.detail_table_full_wraper.resp .detail_table_wraper .detail_table_col .detail_table_row:first-child {
  border-left: none;
}
.detail_table_full_wraper.resp .detail_table_wraper .detail_table_col .detail_table_row {
  min-width: 200px;
  -webkit-box-pack: center;
  justify-content: center;
}
.detail_common_p {
  padding: 25px 0px;
}
.detail_table_wraper {
  width: 100%;
  float: left;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(9, 150, 158, 0.25);
}
.detail_table_col {
  width: auto;
  float: left;
  -webkit-box-flex: 1;
  flex: 1;
}
.detail_table_row {
  width: 100%;
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  padding: 10px 20px;
  text-align: left;
  color: #585858;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.detail_table_col .detail_table_row:nth-child(even) {
  background-color: rgba(9, 150, 158, 0.15);
}
.detail_table_col .detail_table_row:first-child {
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  color: #464646;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: center;
  background-color: #09969E;
  text-align: center;
  color: #fff;
}
.detail_table_col .detail_table_row:last-child {
  border-bottom: none;
}
@media (max-width: 1200px) {
  .detail_table_wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .detail_table_col {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    border: none;
    border-top: 1px solid rgba(9, 150, 158, 0.35);
    border-bottom: 1px solid rgba(9, 150, 158, 0.35);
  }
  .detail_table_row {
    border: none;
    border-right: 1px solid rgba(9, 150, 158, 0.35);
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .detail_table_col .detail_table_row:first-child {
    border-left: 1px solid rgba(9, 150, 158, 0.35);
    min-width: 30%;
  }
  .scroll_to_section {
    display: none;
  }
  .detail_table_full_wraper.resp .detail_table_wraper .detail_table_col .detail_table_row {
    min-width: 260px;
  }
  .detail_table_col .detail_table_row:first-child {
    background-color: unset;
    color: #585858;
    font-weight: 400;
    line-height: 16px;
  }
}
@media (min-width: 1295px) and (max-width: 1340px) {
  .product_quick_link_wrpr .category_items {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1295px) {
  .cutom_blog {
    padding: 15px;
    font-size: 12px;
  }
  .cutom_menu_size {
    font-size: 12px;
  }
  .custom_subscribe {
    padding-left: 25px;
  }
  .product_quick_link_wrpr .category_items {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hamb_blog {
    font-size: 12px;
    font-weight: 700;
  }
}
@media (max-width: 1200px) {
  .hamb_blog {
    font-size: 11px;
  }
}
@media (max-width: 1024px) {
  .hamb_blog {
    font-weight: 400;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .common_split_3 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .common_split_3:last-child {
    margin-bottom: 0;
  }
  .detail_zoom_carousel_close {
    top: 20px;
    right: 20px;
  }
  .detail_zoom_carousel .owl-nav {
    padding: 0 15px;
  }
  .detail_zoom_carousel.owl-carousel .owl-item img {
    width: 100%;
    max-width: 100%;
  }
}
.detail_product_wrpr_thumb .owl-stage-outer {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 100%;
}
.detail_product_wrpr_thumb .owl-stage-outer .owl-stage {
  margin: 0px auto;
}
.bg_new {
  background-color: #000;
  color: #fff;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.bg_new:hover {
  background-color: #fff;
  color: #000;
}
.vbox-close {
  width: 45px;
  height: 45px;
  background-color: #fff !important;
  border-radius: 50%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: #333 !important;
  right: 30px;
  top: 20px;
  font-size: 20px;
  line-height: 20px;
  font-family: "Roboto", san-serif;
}
@media (max-width: 1024px) {
  .vbox-close {
    width: 30px;
    height: 30px;
    right: 15px;
  }
}
.txt_clr_gray_01 {
  color: #4D4D4D;
}
.txt_clr_gray_02 {
  color: #787878;
}
.txt_clr_gray_02 {
  color: #6D6D6D;
}
.txt_clr_blue_01 {
  color: #00838A;
}
.txt_clr_blue_hover {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.txt_clr_blue_hover:hover {
  color: #00838A;
}
.txt_clr_blue_hover.active {
  color: #00838A;
}
.leftnav .mCSB_scrollTools {
  width: 3px;
}
.text_clr_13 {
  color: #707070;
}
.border_ash_03 {
  border-color: #707070;
}
.bg_color_fade_01 {
  background-color: rgba(212, 67, 67, 0.6);
}
.bg_color_fade_02 {
  background-color: rgba(0, 131, 138, 0.6);
}
.coustom_height_img {
  height: 100vh;
}
.text_clr_14 {
  color: #404040;
}
.icon_color_01 {
  color: #787878;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}
.icon_color_01:hover {
  color: #fff100;
}
.secondary_bg_clr_dark {
  background-color: rgba(0, 0, 0, 0.7);
}
.secondary_bg_clr_dark_01 {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.secondary_bg_clr_dark_01:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.bg_clr_hover:hover .secondary_bg_clr_dark_01 {
  background-color: rgba(0, 0, 0, 0.7);
}
.border_ash_01 {
  border-color: rgba(0, 0, 0, 0.4);
}
.border_ash_02 {
  border-color: #EEEEEE;
}
.txt_clr_blue {
  color: #24B7BF;
  background: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.txt_clr_blue:hover {
  color: #fff;
  background: #24B7BF;
}
.border_clr_blue {
  border-color: #fff100;
}
.text_clr_01 {
  color: #515151;
}
.overlay_bg_01 {
  background-color: rgba(0, 0, 0, 0.62);
}
.wrpr_bg_01 {
  background-color: #313131;
}
.fixed_heght_para_inner_01 {
  min-height: 90px;
  max-height: 90px;
  overflow: hidden;
}
.custom_floating_label textarea ~ .gd_label {
  top: 20px;
  height: auto;
}
.custom_floating_label textarea.gd_input {
  height: 100%;
}
.custom_color_radio .gd_radio_shape::after {
  background-color: #00838A;
}
.gd_category {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.gd_category:hover {
  color: #00838A;
}
.gd_category.active {
  color: #00838A;
}
.view_category {
  z-index: 160;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
}
.view_category_wrpr {
  width: 100%;
  max-width: 500px;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 15px;
  margin: auto;
  z-index: 10;
  opacity: 0;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-transform: scale(0);
  transform: scale(0);
  z-index: 301;
  padding: 15px;
}
.view_category_wrpr .category_wrpr {
  display: block;
}
.view_category_wrpr .category_items {
  width: 100%;
  float: left;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.view_category_wrpr.active {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
@media (max-width: 768px) {
  .product_listing .para_height01 {
    min-height: 75px;
    max-height: 75px;
    overflow: hidden;
  }
}
.coustom_height_01 {
  height: 345px;
  overflow: hidden;
  padding-bottom: 0;
  margin-bottom: 60px;
}
@media (max-width: 1024px) {
  .coustom_height_01 {
    height: 407px;
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .coustom_height_01 {
    height: auto;
    margin-bottom: 0;
  }
}
.coustom_height_02 {
  height: 154px;
  overflow: hidden;
  padding-bottom: 0;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .coustom_height_02 {
    height: auto;
  }
}
.coustom_height_03 {
  height: 130px;
  overflow: hidden;
  padding-bottom: 0;
}
@media (max-width: 1024px) {
  .coustom_height_03 {
    height: 190px;
  }
}
@media (max-width: 768px) {
  .coustom_height_03 {
    height: auto;
  }
}
.coustom_height_04 {
  height: 280px;
  overflow: hidden;
}
@media (max-width: 576px) {
  .coustom_height_01 {
    height: auto;
    margin-bottom: 0;
  }
  .coustom_height_02 {
    height: auto;
  }
}
.view_category_wrpr .mCSB_inside > .mCSB_container {
  margin-right: 2px;
}
.view_category_wrpr .mCSB_scrollTools {
  width: 4px;
}
.img_fix_height {
  min-height: 255px;
  max-height: 255px;
  display: -webkit-box;
  display: flex;
}
@media (max-width: 576px) {
  .img_fix_height {
    min-height: 160px;
    max-height: 160px;
  }
}
.img_fix_height_01 {
  min-height: 255px;
  max-height: 255px;
  display: -webkit-box;
  display: flex;
}
@media (max-width: 576px) {
  .img_fix_height_01 {
    min-height: 180px;
    max-height: 180px;
  }
}
.img_fix_height_02 {
  min-height: 200px;
  max-height: 200px;
  display: -webkit-box;
  display: flex;
}
@media (max-width: 576px) {
  .img_fix_height_02 {
    min-height: 120px;
    max-height: 120px;
  }
}
.full_video {
  width: 100%;
  height: 100vh;
}
.full_video video {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.txt_clr_gray {
  color: #575757;
}
.border_clr_gray {
  border-color: #A8A8A8;
}
.border_clr_gray:hover {
  border-color: #fff100;
}
.elip01 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.secondory_border_hover {
  border-color: #fff100;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #fff100;
}
.secondory_border_hover:hover {
  background-color: #fff100;
  color: #fff;
}
.secondory_border_hover:hover .dot_shape {
  background-color: #fff;
}
.shadow_style_01 {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
.shadow_style_03 {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.16);
}
@media (max-width: 576px) {
  .shadow_style_03 {
    box-shadow: none;
  }
}
.border_clr_gray_01 {
  border-color: #9F9F9F;
}
.bg_txt_parallax_common {
  font-size: 300px;
  line-height: 300px;
  font-family: "Roboto", san-serif;
  color: rgba(255, 255, 255, 0.04);
  position: absolute;
  bottom: 5%;
  white-space: nowrap;
  z-index: 0;
  left: 10%;
  pointer-events: none;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .bg_txt_parallax_common {
    font-size: 100px;
    line-height: 100px;
    left: 0;
  }
}
.style_parallax_01 {
  left: -15%;
}
.line_animation_wrpr {
  pointer-events: none;
}
.spcial_lines_anim {
  padding-top: 10px;
  padding-bottom: 10px;
}
.spcial_lines_anim:after {
  width: 200px;
  height: 5px;
  position: absolute;
  background: #fff100;
  content: '';
  z-index: 1;
  bottom: 5px;
  right: 50%;
  transform: translateX(50%);
}
.spcial_lines_anim:before {
  width: 200px;
  height: 5px;
  position: absolute;
  background: #fff100;
  content: '';
  z-index: 1;
  top: 5px;
  right: 50%;
  transform: translateX(50%);
}
.border_clr_01 {
  border-color: #fff100;
}
.btn_syle_01 button {
  color: #000;
}
.custome_position_spcial_wrpr01 {
  position: absolute;
  right: 0;
  top: 0px;
  width: 55%;
  z-index: 1;
  height: 100%;
}
.custome_position_spcial_wrpr01 img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 1200px) {
  .custome_position_spcial_wrpr01 {
    top: 0;
  }
}
@media (max-width: 1024px) {
  .custome_position_spcial_wrpr01 {
    width: 50%;
    -webkit-box-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    top: 0;
  }
}
@media (max-width: 768px) {
  .custome_position_spcial_wrpr01 {
    width: 100%;
    -webkit-box-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.custome_position_spcial_wrpr {
  position: absolute;
  right: 0;
  bottom: 65px;
  width: 55%;
  z-index: 1;
}
@media (max-width: 1200px) {
  .custome_position_spcial_wrpr {
    bottom: 100px;
  }
}
@media (max-width: 1024px) {
  .custome_position_spcial_wrpr {
    width: 50%;
    -webkit-box-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    bottom: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .custome_position_spcial_wrpr {
    width: 100%;
    -webkit-box-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.bottom_line_common:after {
  width: 60px;
  height: 1px;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  content: '';
  background-color: #707070;
  bottom: 0px;
}
@media (max-width: 1024px) {
  .bottom_line_common:after {
    right: auto;
  }
}
.para_height01 {
  min-height: 142px;
  max-height: 142px;
  overflow: hidden;
}
.coustom_overflow_wrpr {
  width: 70%;
  float: left;
}
.coustom_overflow_wrpr .owl-stage-outer,
.coustom_overflow_wrpr .gd_slider {
  overflow: visible;
}
@media (max-width: 992px) {
  .coustom_overflow_wrpr {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .coustom_overflow_wrpr {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .coustom_overflow_wrpr {
    width: 70%;
  }
}
.slider_style_01 .owl-stage-outer {
  width: 100%;
  height: 100vh;
}
.slider_style_01 .owl-stage-outer video {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.slider_style_01 .owl-stage {
  width: 100%;
  height: 100vh;
}
.slider_style_01 .owl-stage video {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.slider_style_01 .owl-item {
  width: 100%;
  height: 100vh;
}
.slider_style_01 .owl-item video {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.btn_style_01 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: table;
}
.icon_fb {
  background-color: rgba(255, 224, 82, 0.5);
}
.icon_youtube {
  background-color: rgba(255, 224, 82, 0.5);
}
.icon_insta {
  background-color: rgba(255, 224, 82, 0.5);
}
.hover_trigger_widget .hover_overlay {
  opacity: 0;
  top: 50px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.hover_trigger_widget:hover .hover_overlay {
  opacity: 1;
  top: 0px;
}
.coustom_zindex_01 {
  position: relative;
  z-index: 1;
}
.banner_bg {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.banner_container:hover .banner_bg {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.slider_style_01 .text_amin_1 {
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.slider_style_01 .text_amin_2 {
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
  opacity: 0;
  visibility: hidden;
}
.slider_style_01 .text_amin_3 {
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
  opacity: 0;
  visibility: hidden;
}
.slider_style_01 .text_amin_4 {
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s;
  opacity: 0;
  visibility: hidden;
}
.slider_style_01 .active .text_amin_1 {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  opacity: 1;
  visibility: visible;
}
.slider_style_01 .active .text_amin_2 {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
  opacity: 1;
  visibility: visible;
}
.slider_style_01 .active .text_amin_3 {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transition-delay: 1.1s;
  transition-delay: 1.1s;
  opacity: 1;
  visibility: visible;
}
.slider_style_01 .active .text_amin_4 {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transition-delay: 1.4s;
  transition-delay: 1.4s;
  opacity: 1;
  visibility: visible;
}
.style_01 .line_01 {
  width: 0%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50vh;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
  right: 90%;
}
.style_01 .line_02 {
  width: 1px;
  height: 0vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10%;
  -webkit-transition: 0.9s all ease;
  transition: 0.9s all ease;
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
  bottom: 50vh;
}
.style_01 .line_03 {
  left: 10%;
  width: 0%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50vh;
  -webkit-transition: 1.8s all;
  transition: 1.8s all;
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}
.style_01 .line_04 {
  left: 45%;
  width: 0%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50vh;
  -webkit-transition: 0.9s all;
  transition: 0.9s all;
  -webkit-transition-delay: 2.9s;
  transition-delay: 2.9s;
  display: none;
}
.style_01 .line_05 {
  width: 1px;
  height: 0vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 80%;
  top: 50vh;
  -webkit-transition: 0.9s all ease;
  transition: 0.9s all ease;
  -webkit-transition-delay: 4.1s;
  transition-delay: 4.1s;
}
.style_01 .line_06 {
  left: 80%;
  width: 0%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50vh;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transition-delay: 4.5s;
  transition-delay: 4.5s;
}
.style_01 .dote_01 {
  width: 20px;
  height: 20px;
  background-color: #fff100;
  border-radius: 50%;
  top: calc(50vh - 10px);
  left: calc(10% - 10px);
  position: absolute;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.style_01 .dote_02 {
  width: 20px;
  height: 20px;
  background-color: #fff100;
  border-radius: 50%;
  top: calc(50vh - 10px);
  left: calc(80% - 10px);
  position: absolute;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
  -webkit-transition-delay: 3.8s;
  transition-delay: 3.8s;
}
.style_01 .circle_01 {
  width: 200px;
  height: 200px;
  background-color: transparent;
  border-radius: 50%;
  top: calc(50vh - 100px);
  left: calc(80% - 100px);
  position: absolute;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
  -webkit-transition-delay: 4s;
  transition-delay: 4s;
  position: relative;
  opacity: 0;
}
.style_01 .circle_01 .inner {
  -webkit-transition-delay: 0s !important;
  transition-delay: 0s !important;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
}
@media (max-width: 1024px) {
  .style_01 .line_01 {
    width: 0%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 20vh;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s;
    right: 90%;
  }
  .style_01 .line_02 {
    width: 1px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10%;
    -webkit-transition: 0.9s all ease;
    transition: 0.9s all ease;
    -webkit-transition-delay: 1.5s;
    transition-delay: 1.5s;
    bottom: 80vh;
  }
  .style_01 .line_03 {
    left: 10%;
    width: 0%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 20vh;
    -webkit-transition: 1.8s all;
    transition: 1.8s all;
    -webkit-transition-delay: 2s;
    transition-delay: 2s;
  }
  .style_01 .dote_02 {
    width: 20px;
    height: 20px;
    background-color: #fff100;
    border-radius: 50%;
    top: calc(20vh - 10px);
    left: calc(80% - 10px);
    position: absolute;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    -webkit-transform: scale(0) !important;
    transform: scale(0) !important;
    -webkit-transition-delay: 3.8s;
    transition-delay: 3.8s;
  }
  .style_01 .line_05 {
    width: 1px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 80%;
    top: 20vh;
    -webkit-transition: 0.9s all ease;
    transition: 0.9s all ease;
    -webkit-transition-delay: 4.1s;
    transition-delay: 4.1s;
  }
  .style_01 .line_06 {
    left: 80%;
    width: 0%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 20vh;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    -webkit-transition-delay: 4.5s;
    transition-delay: 4.5s;
  }
  .style_01 .dote_01 {
    width: 20px;
    height: 20px;
    background-color: #fff100;
    border-radius: 50%;
    top: calc(20vh - 10px);
    left: calc(10% - 10px);
    position: absolute;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    -webkit-transform: scale(0) !important;
    transform: scale(0) !important;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
  .style_01 .circle_01 {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    top: calc(20vh - 50px);
    left: calc(80% - 50px);
    position: absolute;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    -webkit-transform: scale(0) !important;
    transform: scale(0) !important;
    -webkit-transition-delay: 4s;
    transition-delay: 4s;
    position: relative;
  }
}
.owl-item.active .style_01 .circle_01 {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
  opacity: 1;
}
.owl-item.active .style_01 .line_01 {
  width: 10%;
}
.owl-item.active .style_01 .line_02 {
  height: 50vh;
}
@media (max-width: 1024px) {
  .owl-item.active .style_01 .line_02 {
    height: 20vh;
  }
}
.owl-item.active .style_01 .line_03 {
  width: 70%;
}
.owl-item.active .style_01 .line_04 {
  width: 35%;
}
.owl-item.active .style_01 .line_05 {
  height: 50vh;
}
@media (max-width: 1024px) {
  .owl-item.active .style_01 .line_05 {
    height: 80vh;
  }
}
.owl-item.active .style_01 .line_06 {
  width: 20%;
}
.owl-item.active .style_01 .dote_01 {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
.owl-item.active .style_01 .dote_02 {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
.style_02 .line_01 {
  width: 0%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 12vh;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
  right: 45%;
}
.style_02 .line_02 {
  width: 1px;
  height: 0;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 55%;
  -webkit-transition: 0.9s all ease;
  transition: 0.9s all ease;
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
  bottom: 88vh;
}
.style_02 .line_03 {
  left: 55%;
  width: 1px;
  height: 0vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 12vh;
  -webkit-transition: 1.8s all;
  transition: 1.8s all;
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}
.style_02 .line_04 {
  left: 55%;
  width: 1px;
  height: 0vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 37vh;
  -webkit-transition: 1.8s all;
  transition: 1.8s all;
  -webkit-transition-delay: 2.9s;
  transition-delay: 2.9s;
  display: none;
}
.style_02 .line_05 {
  width: 1px;
  height: 0;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 55%;
  top: 72vh;
  -webkit-transition: 0.9s all ease;
  transition: 0.9s all ease;
  -webkit-transition-delay: 4.1s;
  transition-delay: 4.1s;
}
.style_02 .line_06 {
  left: 55%;
  width: 0%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 72vh;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  -webkit-transition-delay: 4.5s;
  transition-delay: 4.5s;
}
.style_02 .dote_01 {
  width: 20px;
  height: 20px;
  background-color: #fff100;
  border-radius: 50%;
  top: calc(12vh - 10px);
  left: calc(55% - 10px);
  position: absolute;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.style_02 .dote_02 {
  width: 20px;
  height: 20px;
  background-color: #fff100;
  border-radius: 50%;
  top: calc(72vh - 10px);
  left: calc(55% - 10px);
  position: absolute;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
  -webkit-transition-delay: 3.8s;
  transition-delay: 3.8s;
}
.style_02 .circle_01 {
  width: 200px;
  height: 200px;
  background-color: transparent;
  border-radius: 50%;
  top: calc(72vh - 100px);
  left: calc(55% - 100px);
  position: absolute;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
  -webkit-transition-delay: 4s;
  transition-delay: 4s;
  position: relative;
}
@media (max-width: 1024px) {
  .style_02 .circle_01 {
    width: 100px;
    height: 100px;
    top: calc(72vh - 50px);
    left: calc(55% - 50px);
  }
}
.style_02 .circle_01 .inner {
  -webkit-transition-delay: 0s !important;
  transition-delay: 0s !important;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
}
.owl-item.active .style_02 .circle_01 {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
.owl-item.active .style_02 .line_01 {
  width: 55%;
}
.owl-item.active .style_02 .line_02 {
  height: 12vh;
}
.owl-item.active .style_02 .line_03 {
  height: 60vh;
}
.owl-item.active .style_02 .line_04 {
  height: 35vh;
}
.owl-item.active .style_02 .line_05 {
  height: 28vh;
}
.owl-item.active .style_02 .line_06 {
  width: 45%;
}
.owl-item.active .style_02 .dote_01 {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
.owl-item.active .style_02 .dote_02 {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
.style_03 .line_01 {
  width: 0%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 80vh;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
  right: 55%;
}
.style_03 .line_02 {
  width: 1px;
  height: 0;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 45%;
  -webkit-transition: 0.9s all ease;
  transition: 0.9s all ease;
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
  top: 80vh;
}
.style_03 .line_03 {
  left: 45%;
  width: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 80vh;
  -webkit-transition: 1.8s all;
  transition: 1.8s all;
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}
.style_03 .line_04 {
  left: 75%;
  width: 1px;
  height: 0;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 20vh;
  -webkit-transition: 1.8s all;
  transition: 1.8s all;
  -webkit-transition-delay: 4s;
  transition-delay: 4s;
}
.style_03 .line_05 {
  width: 1px;
  height: 0;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 75%;
  top: 80vh;
  -webkit-transition: 0.9s all ease;
  transition: 0.9s all ease;
  -webkit-transition-delay: 4.1s;
  transition-delay: 4.1s;
  display: none;
}
.style_03 .line_06 {
  left: 75%;
  width: 0%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 80vh;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  -webkit-transition-delay: 4.5s;
  transition-delay: 4.5s;
}
.style_03 .dote_01 {
  width: 20px;
  height: 20px;
  background-color: #fff100;
  border-radius: 50%;
  top: calc(80vh - 10px);
  left: calc(45% - 10px);
  position: absolute;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.style_03 .dote_02 {
  width: 20px;
  height: 20px;
  background-color: #fff100;
  border-radius: 50%;
  top: calc(80vh - 10px);
  left: calc(75% - 10px);
  position: absolute;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
  -webkit-transition-delay: 3.8s;
  transition-delay: 3.8s;
}
.style_03 .circle_01 {
  width: 160px;
  height: 160px;
  background-color: transparent;
  border-radius: 50%;
  top: calc(80vh - 80px);
  left: calc(75% - 80px);
  position: absolute;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
  -webkit-transition-delay: 4s;
  transition-delay: 4s;
  position: relative;
}
@media (max-width: 1024px) {
  .style_03 .circle_01 {
    width: 100px;
    height: 100px;
    top: calc(80vh - 50px);
    left: calc(75% - 50px);
  }
}
.style_03 .circle_01 .inner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
}
.owl-item.active .style_03 .circle_01 {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
.owl-item.active .style_03 .line_01 {
  width: 55%;
}
.owl-item.active .style_03 .line_02 {
  height: 20vh;
}
.owl-item.active .style_03 .line_03 {
  width: 30%;
}
.owl-item.active .style_03 .line_04 {
  height: 80vh;
}
.owl-item.active .style_03 .line_05 {
  height: 20vh;
}
.owl-item.active .style_03 .line_06 {
  width: 25%;
}
.owl-item.active .style_03 .dote_01 {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
.owl-item.active .style_03 .dote_02 {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
.circle_01 {
  pointer-events: auto !important;
}
.style_04 {
  pointer-events: none;
}
.style_04 .line_01 {
  width: 0%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 66%;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
  right: 91%;
}
.style_04 .line_02 {
  width: 1px;
  height: 0%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 9%;
  -webkit-transition: 0.9s all ease;
  transition: 0.9s all ease;
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
  bottom: 34%;
}
.style_04 .line_03 {
  left: 9%;
  width: 0%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 66%;
  -webkit-transition: 1.8s all;
  transition: 1.8s all;
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}
.style_04 .line_04 {
  left: 45%;
  width: 0%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 66%;
  -webkit-transition: 0.9s all;
  transition: 0.9s all;
  -webkit-transition-delay: 2.9s;
  transition-delay: 2.9s;
  display: none;
}
.style_04 .line_05 {
  width: 1px;
  height: 0%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 80%;
  top: 66%;
  -webkit-transition: 0.9s all ease;
  transition: 0.9s all ease;
  -webkit-transition-delay: 4.1s;
  transition-delay: 4.1s;
}
.style_04 .line_06 {
  left: 80%;
  width: 0%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 66%;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transition-delay: 4.5s;
  transition-delay: 4.5s;
}
.style_04 .dote_01 {
  width: 20px;
  height: 20px;
  background-color: #fff100;
  border-radius: 50%;
  top: calc(66% - 10px);
  left: calc(9% - 10px);
  position: absolute;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.style_04 .dote_02 {
  width: 20px;
  height: 20px;
  background-color: #fff100;
  border-radius: 50%;
  top: calc(66% - 10px);
  left: calc(80% - 10px);
  position: absolute;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
  -webkit-transition-delay: 3.8s;
  transition-delay: 3.8s;
}
.style_04 .circle_01 {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 50%;
  top: calc(66% - 50px);
  left: calc(80% - 50px);
  position: absolute;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
  -webkit-transition-delay: 4s;
  transition-delay: 4s;
  position: relative;
}
@media (max-width: 1024px) {
  .style_04 .circle_01 {
    width: 50px;
    height: 50px;
    top: calc(66% - 25px);
    left: calc(80% - 25px);
  }
}
.style_04 .circle_01 .inner {
  -webkit-transition-delay: 0s !important;
  transition-delay: 0s !important;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
}
.style_04.active .circle_01 {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
.style_04.active .line_01 {
  width: 9%;
}
.style_04.active .line_02 {
  height: 66%;
}
.style_04.active .line_03 {
  width: 71%;
}
.style_04.active .line_04 {
  width: 35%;
}
.style_04.active .line_05 {
  height: 50%;
}
@media (max-width: 1024px) {
  .style_04.active .line_05 {
    height: 80%;
  }
}
.style_04.active .line_06 {
  width: 20%;
}
.style_04.active .dote_01 {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
.style_04.active .dote_02 {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
.style_05 {
  pointer-events: none;
}
@media (max-width: 1024px) {
  .style_05 {
    display: none;
  }
}
.style_05 .line_01 {
  width: 0%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10%;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transition-delay: 1.2s;
  transition-delay: 1.2s;
  right: 72%;
}
@media (max-width: 1200px) {
  .style_05 .line_01 {
    right: 58.7777%;
  }
}
.style_05 .line_02 {
  width: 1px;
  height: 0%;
  background-color: rgba(3, 3, 3, 0.5);
  position: absolute;
  left: 28%;
  -webkit-transition: 0.9s all ease;
  transition: 0.9s all ease;
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
  top: 10%;
}
@media (max-width: 1200px) {
  .style_05 .line_02 {
    left: 41.6666%;
  }
}
.style_05 .line_03 {
  right: 72%;
  width: 1px;
  height: 0;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 49%;
  -webkit-transition: 1.8s all;
  transition: 1.8s all;
  -webkit-transition-delay: 2s;
  transition-delay: 2s;
}
@media (max-width: 1200px) {
  .style_05 .line_03 {
    display: none;
  }
}
.style_05 .line_04 {
  left: 45%;
  width: 0%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 66%;
  -webkit-transition: 0.9s all;
  transition: 0.9s all;
  -webkit-transition-delay: 2.9s;
  transition-delay: 2.9s;
  display: none;
}
@media (max-width: 1200px) {
  .style_05 .line_04 {
    display: none;
  }
}
.style_05 .line_05 {
  width: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 61.555%;
  left: 28%;
  -webkit-transition: 0.9s all ease;
  transition: 0.9s all ease;
  -webkit-transition-delay: 4.1s;
  transition-delay: 4.1s;
}
@media (max-width: 1200px) {
  .style_05 .line_05 {
    display: none;
  }
}
.style_05 .line_06 {
  left: 80%;
  width: 0%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 66%;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transition-delay: 4.5s;
  transition-delay: 4.5s;
  display: none;
}
.style_05 .dote_01 {
  width: 20px;
  height: 20px;
  background-color: #D44343;
  border-radius: 50%;
  top: calc(10% - 10px);
  right: calc(72% - 10px);
  position: absolute;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
@media (max-width: 1200px) {
  .style_05 .dote_01 {
    right: calc(58.33333% - 10px);
  }
}
.style_05 .dote_02 {
  width: 20px;
  height: 20px;
  background-color: #fff100;
  border-radius: 50%;
  top: calc(66% - 10px);
  left: calc(80% - 10px);
  position: absolute;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
  -webkit-transition-delay: 3.8s;
  transition-delay: 3.8s;
  display: none;
}
.style_05 .circle_01 {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 50%;
  top: calc(66% - 50px);
  left: calc(80% - 50px);
  position: absolute;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-transform: scale(0) !important;
  transform: scale(0) !important;
  -webkit-transition-delay: 4s;
  transition-delay: 4s;
  position: relative;
  display: none;
}
.style_05 .circle_01 .inner {
  -webkit-transition-delay: 0s !important;
  transition-delay: 0s !important;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
}
.style_05.active .circle_01 {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
.style_05.active .line_01 {
  width: 28%;
}
@media (max-width: 1200px) {
  .style_05.active .line_01 {
    width: 44%;
  }
}
.style_05.active .line_02 {
  height: 40.9999%;
}
@media (max-width: 1200px) {
  .style_05.active .line_02 {
    height: 90%;
  }
}
.style_05.active .line_03 {
  height: 12.777%;
}
.style_05.active .line_04 {
  width: 35%;
}
.style_05.active .line_05 {
  width: 10%;
}
.style_05.active .line_06 {
  width: 20%;
}
.style_05.active .dote_01 {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
.style_05.active .dote_02 {
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
.overlay_bg:after {
  position: absolute;
  width: 100%;
  float: left;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.img_height_01 {
  height: 370px;
}
@media (max-width: 1200px) {
  .img_height_01 {
    height: auto;
  }
}
@media (max-width: 1024px) {
  .img_height_01 {
    height: 100%;
  }
}
.img_height_01 img {
  height: 100%;
}
@media (max-width: 768px) {
  .banner_height_style_01 {
    min-height: 200px;
    max-height: 200px;
  }
}
@media (max-width: 576px) {
  .banner_height_style_01 {
    min-height: 150px;
    max-height: 150px;
  }
}
.play_btn_style_white {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
  color: #fff;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.play_btn_style_white:after {
  content: '';
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
}
.rightside_line_animation .line_01 {
  right: 0;
  left: auto;
  top: 42%;
}
.rightside_line_animation.active .line_01 {
  width: 17%;
}
.rightside_line_animation.active .line_02 {
  height: 41.8888%;
}
.rightside_line_animation .line_02 {
  left: auto;
  top: 0;
  right: 17%;
}
.rightside_line_animation .dote_01 {
  top: calc(42% - 10px);
  right: calc(17% - 10px);
}
.left_bottom_side_line_animation .line_01 {
  right: auto;
  left: 0;
  top: 75%;
}
.left_bottom_side_line_animation.active .line_01 {
  width: 38%;
}
.left_bottom_side_line_animation.active .line_02 {
  height: 24.889%;
}
.left_bottom_side_line_animation .line_02 {
  left: auto;
  top: auto;
  bottom: 0;
  left: 38%;
}
.left_bottom_side_line_animation.active .line_03 {
  height: 100%;
}
.left_bottom_side_line_animation .line_03 {
  bottom: auto;
  left: 41.6%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
}
.left_bottom_side_line_animation .dote_01 {
  top: auto;
  bottom: calc(24.889% - 10px);
  left: calc(38% - 10px);
}
.myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.custom_border_rad_50 {
  border: 1px solid #CECECE;
  border-radius: 50%;
  background-color: transparent;
  width: 33px;
  height: 33px;
  font-size: 15px;
  line-height: 1em;
}
.gd_txt_clr_lightpink {
  color: #E8DFB5;
}
.custom_text_shape {
  width: 100%;
  float: left;
  position: absolute;
  padding: 30px 80px;
  right: 370px;
  height: max-content;
}
.custom_text_shape::before {
  content: "";
  position: absolute;
  width: 528px;
  height: 216px;
  float: left;
  right: 177px;
  background-color: #fff;
  border: 5px solid #fff100;
  top: 0;
}
.custom_text_shape .gd_h_main {
  width: max-content;
  float: left;
  right: 0;
  position: absolute;
  background-color: #fff;
}
@media (max-width: 1200px) {
  .custom_text_shape .gd_h_main {
    width: max-content;
    left: 80px;
  }
  .custom_text_shape::before {
    max-width: 85%;
    right: 8%;
    height: 150px;
  }
}
@media (max-width: 1024px) {
  .custom_text_shape::before {
    left: 0%;
    width: 35%;
    height: 100px;
  }
  .custom_text_shape .gd_h_main {
    width: 100%;
    left: auto;
    position: relative;
    right: auto;
  }
  .custom_text_shape {
    padding: 15px 25px;
    position: absolute;
    width: 100%;
    max-width: 100%;
    right: 0;
  }
}
@media (max-width: 992px) {
  .custom_text_shape::before {
    left: 0%;
    width: 19%;
    height: 79px;
  }
}
@media (max-width: 768px) {
  .custom_text_shape::before {
    left: 0%;
    width: 50%;
    height: 80px;
  }
  .custom_text_shape {
    position: relative;
    width: max-content;
  }
  .custom_text_shape .gd_h_main {
    width: max-content;
  }
}
@media (max-width: 576px) {
  .custom_text_shape::before {
    width: 33%;
    height: 70px;
  }
  .custom_text_shape {
    padding: 10px 20px;
  }
}
.top_btm_lines {
  position: relative;
}
.top_btm_lines:after {
  width: 200px;
  height: 10px;
  position: absolute;
  content: '';
  top: -15px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff100;
}
.top_btm_lines:before {
  width: 200px;
  height: 10px;
  position: absolute;
  content: '';
  bottom: -15px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff100;
}
@media (max-width: 1024px) {
  .top_btm_lines:after {
    width: 150px;
    height: 5px;
    top: -10px;
  }
  .top_btm_lines:before {
    width: 150px;
    height: 5px;
    bottom: -10px;
  }
}
.style_02_parallax {
  z-index: -1;
}
@media (max-width: 1024px) {
  .style_02_parallax {
    margin-top: -50px;
  }
  .style_02_parallax img {
    height: 100vh;
  }
}
.product_slider .gd_slider_control {
  background-color: transparent;
  color: #fff;
}
.product_slider .gd_slider_control_wrpr {
  padding-top: 50px;
}
.product_slider .gd_slider_control_c {
  bottom: -10px;
}
.clr_white_fade {
  color: rgba(255, 255, 255, 0.5);
}
.shadow_common_1 {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
}
.logo_width {
  width: 95px;
}
@media (max-width: 576px) {
  .logo_width {
    width: 75px;
  }
}
.logo_wrpr_hamb .logo_width {
  width: 100px;
}
.background_image {
  height: 100vh;
  width: 100%;
  transition: 15s all ease-in-out;
}
.background_image img {
  width: 100%;
  height: 100%;
}
.background_image:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.active .background_image {
  transform: scale(1.5);
}
.postion_element_img_01 {
  width: 100%;
  max-width: 320px;
  position: relative;
}
@media (max-width: 992px) {
  .postion_element_img_01 {
    max-width: 290px;
  }
}
@media (max-width: 768px) {
  .postion_element_img_01 {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .postion_element_img_01 img {
    max-width: 320px;
  }
}
.custom_link_color a {
  color: #fff100;
}
.custom_link_color span {
  color: rgba(255, 255, 255, 0.5);
}
/* AJ KRISHNA CODE CSS 01-MAY-2020 */
.black_overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
}
.txt_clr_4 {
  color: #404040;
}
.txt_clr_7 {
  color: #717171;
}
.secondary_bg_shade_hover {
  transition: all 0.3s;
}
.secondary_bg_shade_hover:hover {
  background-color: #FFE052;
}
.overlay_bg_fade {
  background-color: rgba(0, 0, 0, 0.4);
}
.overlay_bg_fade_01 {
  background-color: rgba(0, 0, 0, 0.77);
}
.height_fixed .common_height {
  height: 135px;
  width: calc(100% - 30px);
  z-index: 1;
}
@media (max-width: 1024px) {
  .height_fixed .common_height {
    height: 100px;
    padding: 15px;
  }
}
@media (max-width: 1024px) {
  .height_fixed .common_height {
    height: 90px;
    padding: 5px;
  }
}
.height_fixed .color_secondory {
  transition: 0.3s all ease-in-out;
}
.height_fixed:hover .color_secondory {
  color: #000;
}
.overlay {
  position: absolute;
  z-index: 0;
  background-color: rgba(255, 241, 0, 0.8);
}
.gd_border_clr_02 {
  border-color: #EBEBEB;
}
.gd_border_clr_03 {
  border-color: #F9F9F9;
}
.common_line_btm {
  position: relative;
}
.common_line_btm:after {
  content: '';
  position: absolute;
  width: 204px;
  height: 8px;
  background-color: #fff100;
  bottom: -4px;
  left: 0;
  right: 0;
  margin: auto;
}
.common_line_btm_01 {
  position: relative;
}
.common_line_btm_01:after {
  content: '';
  position: absolute;
  width: 100%;
  max-width: 680px;
  height: 8px;
  background-color: #fff100;
  bottom: -4px;
  left: 0;
  right: 0;
  margin: auto;
}
.clr_red {
  color: #F94147;
}
.bg_color_fade_02 {
  background-color: rgba(255, 255, 255, 0.64);
}
.txt_clr_gray_03 {
  color: #565656;
}
.megamenu_inner .secondary_clr_hover {
  border-bottom: 1px solid #EFEFEF;
}
.megamenu_inner .secondary_clr_hover:hover {
  color: #000;
  border-bottom: 1px solid #fff100;
}
.megamenu_cloning .secondary_clr_hover {
  border-bottom: none !important;
}
.txt_underline_01 {
  text-decoration: underline !important;
}
.txt_italic_01 {
  font-style: italic;
}
.bg_clr_fade_yellow {
  background-color: #FFFCE0;
}
.custom_line_01 {
  width: 100%;
  max-width: 255px;
  background-color: #fff100;
  height: 5px;
  float: left;
}
.widget_2 .description_1 {
  text-align: center;
}
/* AJ KRISHNA CODE CSS 01-MAY-2020 */
.black_overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
}
.txt_clr_4 {
  color: #404040;
}
.txt_clr_7 {
  color: #717171;
}
